Source: image-analyzer
Section: utils
Priority: optional
Homepage: http://cdemu.sourceforge.net/
Maintainer: Henrik Stokseth <hstokset@users.sourceforge.net>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: python (>= 2.6.6-3), intltool, cmake (>= 2.8.5), dh-python
X-Python-Version: >= 2.6.6
Standards-Version: 3.9.7


Package: image-analyzer
Architecture: all
Depends: python (>= 2.6.6-3), python-gi (>= 3.0.0), gir1.2-glib-2.0,
 gir1.2-gtk-3.0, gir1.2-pango-1.0, gir1.2-mirage-3.1 (>= 3.1.0), python-matplotlib,
 ${python:Depends}, ${misc:Depends}
Conflicts: image-analyzer-dbg
Replaces: image-analyzer-dbg
Description: Mirage Image Analyzer
 Image Analyzer is a Gtk3-based utility for CD/DVD image analysis
 and manipulation, with following functionality:
  - disc image layout visualization
  - reading of sector data from image
  - analysis of error correction and detection codes in sector main and
    subchannel data
  - retrieval of disc (DVD) structures, if available
  - visualization of disc topology (DPM) data, if available
  - image format conversion
  - logging facilities for debugging

