Source: image-analyzer
Section: utils
Priority: optional
Homepage: http://cdemu.sourceforge.net/
Maintainer: Henrik Stokseth <henrik@hw0.org>
Build-Depends: libglib2.0-dev (>= 2.28), libgtk-3-dev (>= 3.0.0),
 libmirage7-dev (>= 1.6.0), libxml2-dev, debhelper (>= 9),
 dh-apport, autotools-dev
Standards-Version: 3.9.3


Package: image-analyzer
Architecture: any
Depends: libmirage7 (>= 1.6.0), gnuplot, ${shlibs:Depends}, ${misc:Depends}
Description: Mirage Image Analyzer
 Image Analyzer is a simple Gtk+ application that displays tree structure 
 of disc image created by libMirage.
 .
 It is mostly intended as a demonstration of libMirage API use, although 
 it can be also used to verify that an image is correctly handled by 
 libMirage. It is a part of the CDEmu suite.


Package: image-analyzer-dbg
Architecture: any
Section: debug
Priority: extra
Depends: image-analyzer (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Mirage Image Analyzer (debugging symbols)
 This package provides detached debugging symbols.

