Source: cdemu-daemon
Section: misc
Priority: optional
Homepage: http://cdemu.sourceforge.net/
Maintainer: Henrik Stokseth <henrik@hw0.org>
Build-Depends: libdbus-1-dev (>= 0.90), libdbus-glib-1-dev (>= 0.70),
 libsysfs-dev, libglib2.0-dev, libao-dev (>= 0.8.0), libmirage3-dev (>= 1.3.0),
 quilt, debhelper (>= 7), autotools-dev, autoconf, automake
Standards-Version: 3.8.0


Package: cdemu-daemon
Architecture: any
Depends: vhba-dkms (>= 20100822), ${shlibs:Depends}, ${misc:Depends}
Description: CDEmu daemon
 This is CDEmu daemon, the daemon part of the CDEmu suite,
 a free, GPL CD/DVD-ROM device emulator for Linux.
 .
 It receives SCSI commands from kernel module and processes them, passing the
 requested data back to the kernel. Daemon implements the actual virtual
 device; one instance per each device registered by kernel module. It uses
 libMirage, an image access library that is part of CDEmu suite, for
 the image access (e.g. sector reading).
 .
 The daemon registers itself on D-BUS' system or session bus (depending on the
 options passed to it) where it exposes an interface that can be used by
 clients to control it.


Package: cdemu-daemon-dbg
Architecture: any
Priority: extra
Depends: cdemu-daemon (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: CDEmu daemon (debugging symbols)
 This package provides detached debugging symbols.

