Source: gcdemu
Section: utils
Priority: optional
Homepage: http://cdemu.sourceforge.net/
Maintainer: Henrik Stokseth <henrik@hw0.org>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: python (>= 2.6.6-3), libglib2.0-dev, intltool, cmake (>= 2.8.5)
X-Python-Version: >= 2.6.6
Standards-Version: 3.9.3


Package: gcdemu
Architecture: all
Depends: python (>= 2.6.6-3), python-gi (>= 3.0.0), gir1.2-glib-2.0, 
 gir1.2-gtk-3.0, gir1.2-notify-0.7, cdemu-daemon (>= 2.0.0), 
 ${python:Depends}, ${misc:Depends}
Recommends: cdemu-client (>= 2.0.0)
Description: GNOME application to control CDEmu daemon
 This is gCDEmu, a GNOME application for controlling CDEmu daemon. It is part of
 the CDEmu suite, a free, GPL CD/DVD-ROM device emulator for Linux.
 .
 It provides a graphic interface that allows performing the key tasks related to
 controlling the CDEmu daemon, such as loading and unloading devices, displaying 
 devices' status and retrieving/setting devices' debug masks.
 .
 In addition, the application listens to the signals emitted by CDEmu daemon and
 provides the notification via libnotify's notifications (provided that Python
 bindings are installed).

