Source: gcdemu
Section: utils
Priority: optional
Homepage: http://cdemu.sourceforge.net/
Maintainer: Henrik Stokseth <henrik@hw0.org>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: python (>= 2.2), libgconf2-dev, intltool, python-support
Standards-Version: 3.9.2


Package: gcdemu
Architecture: all
Depends: python (>= 2.2), python-gconf, python-gtk2, python-dbus, python-notify, 
 cdemu-daemon (>= 1.4.0), ${python:Depends}, ${misc:Depends}
Recommends: cdemu-client (>= 1.4.0)
Description: GNOME application to control CDEmu daemon
 This is gCDEmu, a GNOME application for controlling CDEmu daemon. It is part of
 the CDEmu suite, a free, GPL CD/DVD-ROM device emulator for Linux.
 .
 It provides a graphic interface that allows performing the key tasks related to
 controlling the CDEmu daemon, such as loading and unloading devices, displaying 
 devices' status and retrieving/setting devices' debug masks.
 .
 In addition, the application listens to the signals emitted by CDEmu daemon and
 provides the notification via libnotify's notifications (provided that Python
 bindings are installed).

