Source: vhba-module
Section: misc
Priority: optional
Homepage: http://cdemu.sourceforge.net/
Maintainer: Henrik Stokseth <henrik@hw0.org>
Build-Depends: debhelper (>= 9), dkms
Build-Depends-Indep: sed
Standards-Version: 3.9.3


Package: vhba-dkms
Architecture: all
Depends: build-essential, ${misc:Depends}
Description: VHBA virtual host bus adapter module
 VHBA kernel module, a virtual SCSI host bus adapter used by CDEmu daemon from
 userspace-cdemu suite.

