Source: vhba-module
Section: misc
Priority: optional
Homepage: http://cdemu.sourceforge.net/
Maintainer: Henrik Stokseth <hstokset@users.sourceforge.net>
Build-Depends: debhelper (>= 10), dkms, dh-dkms
Standards-Version: 4.3.0


Package: vhba-dkms
Architecture: all
Depends: build-essential, ${misc:Depends}
Description: VHBA virtual host bus adapter module
 VHBA kernel module, a virtual SCSI host bus adapter used by CDEmu daemon from
 the cdemu suite.

