#!/usr/bin/make -f
# -*- makefile -*-


#export DH_VERBOSE=1


build:
	-test -x autogen.sh && ./autogen.sh
	dh build --with autotools_dev,python2,apport

%:
	dh $@ --with autotools_dev,python2,apport

