Source: libmirage
Section: libs
Priority: optional
Homepage: http://cdemu.sourceforge.net/
Maintainer: Henrik Stokseth <henrik@hw0.org>
Build-Depends: pkg-config (>= 0.14), libglib2.0-dev, libsndfile1-dev, 
 zlib1g-dev, gtk-doc-tools, quilt, debhelper (>= 7), autotools-dev
Standards-Version: 3.8.0


Package: libmirage2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libmirage2-data
Description: A CD-ROM image access library
 This is libMirage library, a CD-ROM image access library, and part of the 
 CDEmu suite, a free, GPL CD/DVD-ROM device emulator for Linux. It is
 written in C and based on GLib.
 .
 The aim of libMirage is to provide uniform access to the data stored in 
 different image formats, by creating a representation of disc stored in image 
 file, which is based on GObjects.


Package: libmirage2-dbg
Section: libs
Priority: extra
Architecture: any
Depends: libmirage2 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: A CD-ROM image access library (debugging symbols)
 This package provides detached debugging symbols.


Package: libmirage2-data
Section: misc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A CD-ROM image access library (mime data files)
 This package contains MIME data files.


Package: libmirage2-dev
Section: libdevel
Architecture: any
Depends: libmirage2 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Recommends: devhelp
Description: A CD-ROM image access library (development files)
 This package contains files needed to develop with libMirage.


Package: libmirage2-doc
Section: doc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A CD-ROM image access library (documentation)
 This package contains documentation for libMirage.

