Source: libmirage
Section: libs
Priority: optional
Homepage: http://cdemu.sourceforge.net/
Maintainer: Henrik Stokseth <henrik@hw0.org>
Build-Depends: pkg-config (>= 0.14), libglib2.0-dev, libsndfile1-dev,
 zlib1g-dev, gtk-doc-tools, autotools-dev, autoconf, automake, libtool,
 quilt, debhelper (>= 8)
Standards-Version: 3.9.1


Package: libmirage3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libmirage3-data
Description: CD-ROM image access library
 This is libMirage library, a CD-ROM image access library, and part of the
 CDEmu suite, a free, GPL CD/DVD-ROM device emulator for Linux. It is
 written in C and based on GLib.
 .
 The aim of libMirage is to provide uniform access to the data stored in
 different image formats, by creating a representation of disc stored in image
 file, which is based on GObjects.


Package: libmirage3-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libmirage3 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: CD-ROM image access library (debugging symbols)
 This package provides detached debugging symbols.


Package: libmirage3-data
Section: misc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CD-ROM image access library (mime data files)
 This package contains MIME data files.


Package: libmirage3-dev
Section: libdevel
Architecture: any
Depends: libmirage3 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Recommends: devhelp
Description: CD-ROM image access library (development files)
 This package contains files needed to develop with libMirage.


Package: libmirage3-doc
Section: doc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CD-ROM image access library (documentation)
 This package contains documentation for libMirage.

