Source: mirage-image-analyzer
Section: utils
Priority: optional
Homepage: http://cdemu.sourceforge.net/
Maintainer: Henrik Stokseth <henrik@hw0.org>
Build-Depends: libgtk2.0-dev, libmirage3-dev (>= 1.3.0), libxml2-dev,
 quilt, debhelper (>= 7), autotools-dev, autoconf, automake
Standards-Version: 3.8.0


Package: mirage-image-analyzer
Architecture: any
Depends: libmirage3 (>= 1.3.0), ${shlibs:Depends}, ${misc:Depends}
Description: Mirage Image Analyzer
 Image Analyzer is a simple Gtk+ application that displays tree structure 
 of disc image created by libMirage.
 .
 It is mostly intended as a demonstration of libMirage API use, although 
 it can be also used to verify that an image is correctly handled by 
 libMirage. It is a part of the CDEmu suite.


Package: mirage-image-analyzer-dbg
Architecture: any
Priority: extra
Depends: mirage-image-analyzer (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Mirage Image Analyzer (debugging symbols)
 This package provides detached debugging symbols.

