#!/usr/bin/make -f
# -*- makefile -*-


#export DH_VERBOSE=1


override_dh_strip:
	dh_strip --dbg-package="image-analyzer-dbg"

build:
	-test -x autogen.sh && ./autogen.sh
	dh build --with autotools_dev

%:
	dh $@ --with autotools_dev

