#!/usr/bin/make -f
# -*- makefile -*-


#export DH_VERBOSE=1


override_dh_auto_configure:
	dh_auto_configure -- --disable-static --enable-gtk-doc

override_dh_strip:
	dh_strip --dbg-package="libmirage7-dbg"

override_dh_makeshlibs:
	dh_makeshlibs --exclude="libmirage-1.6"

override_dh_shlibdeps:
	dh_shlibdeps --exclude="libmirage-1.6"

build:
	-test -x autogen.sh && ./autogen.sh
	dh build --with autotools_dev,apport

clean:
	# Hack! Because GTK-Doc is retarded.
	rm -f docs/reference/libmirage/html/*.html

	dh clean --with autotools_dev,apport

%:
	dh $@ --with autotools_dev,apport

