[Desktop Entry]
Version=1.0
Type=Application
Name=Mirage Image Analyzer
Comment=Analyze optical media (CD/DVD) images
TryExec=image-analyzer
Exec=image-analyzer %F
MimeType=application/x-cdrdao-toc;application/x-cue;application/x-cd-image;application/x-cif;application/x-nrg;application/x-daa;application/x-cdi;application/x-c2d;application/x-b6t;application/x-xcdroast;application/x-ccd;application/x-mds;
Icon=gcdemu
Terminal=false
Categories=GTK;System;
StartupNotify=false

